html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.min-h-screen {
    min-height: 100vh;
}

#clear-search {
    top: 50%;
    transform: translateY(-50%);
    right: 10px; 
    background-color: transparent;
    border: none;
}

#clear-search svg {
    width: 1.5rem; 
    height: 1.5rem;
    fill: #6B7280; 
}

#clear-search:hover svg {
    fill: #000000; 
}

#top-suggestions {
    max-width: 1100px;
    width: 100%;
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr); 
}

@media (min-width: 640px) {
    #top-suggestions {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 768px) {
    #top-suggestions {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 1024px) {
    #top-suggestions {
        grid-template-columns: repeat(4, 1fr); 
    }
}

.suggestion-card {
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    height: 150px; 
    padding: 1rem;
    cursor: pointer;
    position: relative;
    flex-grow: 1;
}

.suggestion-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    font-size: 0.75rem;
    z-index: 10;
    display: none;
}

@media (max-width: 640px) {
    #search-input {
        padding-left: 3rem;
    }
}
#search-input {
    padding-left: 10px; 
    padding-right: 40px; 
}

#notifications-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 300px;
    max-height: 400px;
    overflow-y: auto; 
    overflow-x: hidden; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
#notifications-dropdown::-webkit-scrollbar {
    display: none; 
}
.notification {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}
.notification:last-child {
    border-bottom: none;
}
.notification a {
    color: #333;
    text-decoration: none;
    display: block;
}
.notification a:hover {
    text-decoration: underline;
}